*{
    padding: 0;
    margin: 0;
}

/* css for page number one */
#one{
    background:url(assests/intro\ background\ image.jpeg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
}

#cover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 85vh;
    padding-bottom: 15vh;
}

.heading{
 color: white;
 font-size: 4vw;
 font-family: 'Courier New', Courier, monospace;
 font-weight: 1000;
 padding-top:6vh;
 text-align: center;
}

.glowing-text{
    text-shadow: 0 0 10px #fff;
}

.glowing-text:hover{
    text-shadow: 0 0 20px #fff;
    font-size: 4.5vw;
    transition: all 0.3s ease-out;
}

.btn{
    width:60vw;
    height:25vw;
    max-width: 250px;
    max-height: 60px ;
    border-radius: 12.5vw;
    border: 5px ridge rgb(28, 28, 72);
    box-shadow: 0 0 20px #fff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 18px;
}

.btn:hover{
    width: 65vw;
    height:28vw;
    max-width: 280px;
    max-height: 70px ;
    box-shadow: 0 0 30px #fff;
    transition: all 0.5s ease-in-out;
}

/* css for page number 2 */
#two{
    background:url(assests/intro\ background\ image.jpeg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;  
    display:none;
}

#features{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    position: relative;
    min-height: 600px;
}

.arrow{
    display: flex;
    gap: 15px;
}

.navigator{
    display: flex;
    gap: 15px;
}

.dots{
    width: 15px;
    height: 15px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.frame{
    width: min(850px, 90vw);
    height:600px;
    overflow: hidden;
    box-shadow: 1px -1px 20px rgba(255, 255, 255, 1);
    align-self: center;    
}

.slider{
    display:flex;
    transition: all 1s ease; 
}

.image{
    width: 100%;
    height: 600px;
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px white;
    text-align: center;
}

#image1{
    background-image: url(assests/image-1.png);
}

#image2{
    background-image: url(assests/image-2.png);
}

#image3{
    background-image: url(assests/image-3.avif);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

#image4{
    background-image: url(assests/image-4.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome{
    height:80%;
    width: 80%;
    backdrop-filter: blur(5px) ;
    border: 2px solid white;
    border-radius: 12px;
}

.btnclass{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    gap:40px;
    
}

/* css for the third page */
#three{
    background:url(assests/intro\ background\ image.jpeg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

#login{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#loginWindow{
    height:auto;
    width:80vw;
    max-width: 450px;
    border: 4px ridge white;
    backdrop-filter: blur(10px);
    border-radius: 5vh;
    box-shadow: 0 0 10px #fff; 
    padding: 24px;  
}

#details{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.placeHolder{
    background: none;
    color: #fff;
    text-shadow:0 0 10px white;
    border: 2px solid white;
    border-radius: 3vh;
    height: 6vh;
    width: 60vw;
    max-width:300px;
    font-size: 5vw;
    text-align: center;
    padding-left: 5px;
    padding-right: 2px;
}

.heading2{
 color: white;
 font-size: 3vw;
 font-family: 'Courier New', Courier, monospace;
 font-weight: 600;
 padding-top:3vh;
 text-align: center;
 margin-bottom: 0vh;
}

.textGlow{
    text-shadow: 0 0 10px #fff;
}

/* css for fourth page */
#four{
    background:url(assests/intro\ background\ image.jpeg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 100vh;
    display: none;
}

#makeGroup{
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#top{
    font-size: max(32px, 4vw);
}

.whiteHead{
    color: white;
    text-shadow: 0 0 10px white;
    text-align: center;
    padding-top: 4vh;
}

.createGroup{
    backdrop-filter: blur(10px);
    width: min(500px, 90vw);
    border: 2px solid white;
    border-radius: 10px;
    align-self: center;
    margin-top: 20vh;
    padding: 10px;
}

/* css for the fifth page */
#five{
    background:url(assests/intro\ background\ image.jpeg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 100vh;
    display: none;
}

#groupDetails{
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.detailEntry{
    backdrop-filter: blur(10px);
    width: min(500px, 90vw);
    border: 2px solid white;
    border-radius: 10px;
    align-self: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2vh;
}

/* css for the sixth page */
#six{
    background:url(assests/intro\ background\ image.jpeg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 100vh;
    display:none;
}

#bills{
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.bill{
    backdrop-filter: blur(10px);
    width: min(500px, 90vw);
    border: 2px solid white;
    border-radius: 10px;
    align-self: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2vh;
}

/* css for the seventh page */
#seven{
    background:url(assests/intro\ background\ image.jpeg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 100vh;
    display:none;
}

#viewbill{
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 0vh;
}

.bodyArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.viewBill{
    backdrop-filter: blur(10px);
    width: min(500px, 90vw);
    border: 2px solid white;
    border-radius: 10px;
    align-self: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 10px;
    padding-bottom: 30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:0.5vh;
}

/* css fo the eighth page */
#eight{
    background:url(assests/intro\ background\ image.jpeg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 100vh;
    display:none;
}

#settlement{
    text-align: center;
    min-height: 100vh;
}

.tab{
    backdrop-filter: blur(10px);
    width: min(700px, 90vw);
    border: 2px solid white;
    border-radius: 10px;
    align-self: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:0.5vh;
    font-size: min(30px,4vw);
    border-color: white;
    max-width: 100vw;
}

th, td {
  border: 1px solid white; 
  padding: 3px;
  text-align: center;
}

/* extra css for the ninth page */
#nine{
    background:url(assests/intro\ background\ image.jpeg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

@media screen and (max-width:700px){
    .heading{
        font-size:6vw ;
    }
    .glowing-text:hover{
        text-shadow: 0 0 20px #fff;
        font-size: 7.5vw;
        transition: all 0.3s ease-out;
    }
    .heading2{
        font-size: 8vw;
        margin-bottom: 0px;
        padding-top: 6vh;
    }
}

@media screen and (max-width:400px){
    .heading{
        font-size:7.5vw ;
    }
    .glowing-text:hover{
        text-shadow: 0 0 20px #fff;
        font-size: 8vw;
        transition: all 0.3s ease-out;
    }
    .btn{
        font-size: 4.5vw;
    }
}

@media screen and (max-width:950px){
    .heading2{
        font-size: 5vw;
    }
}

@media screen and (min-width:550px){
    .placeHolder{
        font-size: 20px;
    }
}